<main>
  <div class="max-w-xl mx-auto mt-10 bg-gray-300 p-6 rounded shadow">
    <h2 class="text-xl font-bold mb-4">SignalR Chat</h2>
    <router-outlet></router-outlet>
  
    <div class="h-[60vh] mb-2 space-y-1 overflow-y-auto border p-2 rounded">
      <div *ngFor="let msg of messages" class="flex-col-reverse">
        <strong>{{ msg.user }}</strong>: {{ msg.text }}
      </div>
    </div>
    <input [(ngModel)]="user" type="text" placeholder="Your name"
           class="border px-3 py-1 w-full mb-2 rounded" />
  
    <input [(ngModel)]="message" type="text" placeholder="Type a message..."
           class="border px-3 py-1 w-full mb-2 rounded" />
  
    <button (click)="send()"
            class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded w-full">
      Send
    </button>
  </div>
</main>